/* You can add global styles to this file, and also import other style files */
*{
    padding:0px;
    box-sizing: border-box;
    margin: 0px;
    background-color: rgb(65, 54, 54);
    color:white;
}